@import '~angular-toastr/dist/angular-toastr';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap4-chosen/bootstrap4-chosen';
@import '~@fortawesome/fontawesome-free/css/all';
@import '~ng-sortable/dist/ng-sortable';
@import '~orgchart/dist/css/jquery.orgchart';
@import '~placeholder-loading/src/scss/placeholder-loading';
@import '~trix/dist/trix';
@import 'common/common';
@import 'components/components';

body {
  font-family: 'Lato', sans-serif;
}
[ng-click],
[data-ng-click],
[x-ng-click] {
    &.btn-primary {
      cursor: pointer;
      color: white !important;
    }
    &.btn-danger {
      cursor: pointer;
      color: white !important;
    }
}
.menu {
  .menu-item {
    &:hover {
      text-decoration: none;
    }
  }
}
.modal-backdrop {
  opacity: 0.5;
}
.list-group-item {
  padding-left: 15px;
  padding-right: 15px;
}
.list-group-flush:last-child,
.list-group-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .125)
}
app > div > .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
