@import '~bootstrap/scss/bootstrap';
@import '~angular-toastr/dist/angular-toastr';
@import '~ng-sortable/dist/ng-sortable';
@import '~bootstrap4-chosen/bootstrap4-chosen';
@import '~placeholder-loading/src/scss/placeholder-loading';
@import '~orgchart/dist/css/jquery.orgchart';
@import 'common/common';
@import 'components/components';

body {
  font-family: 'Lato', sans-serif;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    &.btn-primary {
      cursor: pointer;
      color: white !important;
    }
    &.btn-danger {
      cursor: pointer;
      color: white !important;
    }
}

.menu {
  .menu-item {
    &:hover {
      text-decoration: none;
    }
  }
}

.modal-backdrop {
  opacity: 0.5;
}

.list-group-item {
  padding-left: 15px;
  padding-right: 15px;
}

.list-group-flush:last-child,
.list-group-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, .125)
}
