<div class="tree terminus visible-on-mobile">
  <div class="heading">
    <a class="back" ui-sref="people.detail.positionEntities" ng-if="$ctrl.$state.includes('people')"><i class="fas fa-chevron-left"></i></a>
    <a class="back" ui-sref="me.positionEntities" ng-if="$ctrl.$state.includes('me')"><i class="fas fa-chevron-left"></i></a>
    <div class="title">
      <h1>
        {{$ctrl.positionEntity.position.department.name}} > {{$ctrl.positionEntity.position.name}}
      </h1>
      <div class="menu-toggle" ng-click="$ctrl.open = !$ctrl.open" ng-class="{ 'open': $ctrl.open }">
        <div class="icon">
          <i class="fas fa-chevron-up"></i>
        </div>
        <div ng-if="$ctrl.$state.includes('people.detail.positionEntities.detail.objectives') || $ctrl.$state.includes('me.positionEntities.detail.objectives')">
          Objectives
        </div>
        <div ng-if="$ctrl.$state.includes('people.detail.positionEntities.detail.items') || $ctrl.$state.includes('me.positionEntities.detail.items')">
          Checklist
        </div>
      </div>
    </div>
    <div class="actions">
      <a ng-click="$ctrl.personPositionEntities.delete($ctrl.personId, $ctrl.positionEntity.id)">
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="menu fade" ng-if="$ctrl.open" ng-click="$ctrl.open = false">
      <a class="menu-item" ui-sref=".objectives">
        <div>Objectives</div>
        <div class="icon"><i class="fas fa-bullseye"></i></div>
      </a>
      <a class="menu-item" ui-sref=".items">
        <div>Checklist</div>
        <div class="icon"><i class="fas fa-list"></i></div>
      </a>
    </div>
    <div ui-view="list"></div>
  </div>
</div>
