<div class="d-flex align-items-center" ng-class="{ 'complete': $ctrl.complete }">
  <div class="col" ng-click="$ctrl.complete = !$ctrl.complete">
    <div ng-if="!$ctrl.complete">
      <i class="far fa-square"></i>
    </div>
    <div ng-if="$ctrl.complete">
      <i class="far fa-check-square"></i>
    </div>
  </div>
  <div class="col flex-fill pl-0" ng-if="!$ctrl.readOnly">
    <input class="form-control pl-0"
           ng-model="$ctrl.positionItem.name"
           placeholder="Item name"
           ng-model-options="{ debounce: 500 }"
           ng-change="$ctrl.save()"
           required>
  </div>
  <div class="col flex-fill pl-0" ng-if="$ctrl.readOnly" ng-click="$ctrl.complete = !$ctrl.complete">
    {{$ctrl.positionItem.name}}
  </div>
  <div class="col" ng-click="$ctrl.delete()" ng-if="!$ctrl.readOnly">
    <i class="fas fa-trash"></i>
  </div>
</div>
