departments-detail-teams-detail-positions-detail-items-detail {
  > div {
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    transition: background-color 0.2s ease-out;
    > div {
      line-height: 49px;
    }
    &.complete {
      background-color: greenyellow;
    }
  }
  input.form-control {
    border: 0;
    border-radius: 0;
    background: transparent;
    &:focus {
      background: transparent;
      outline-color: transparent;
      outline-style: none;
      box-shadow: none;
    }
  }
  .name {
    line-height: 1.1rem;
    padding: 10px 0;
  }
}
