<div class="list-group ng-scope" ng-if="$ctrl.serviceTypeList.length > 0">
  <div class="list-group-item d-flex align-items-center ng-scope"
      ng-repeat="serviceType in $ctrl.serviceTypeList track by serviceType.id"
      ng-click="$ctrl.toggleServiceTypeConnectionByServiceType(serviceType)">
    <div class="mr-auto">
      {{serviceType.name}}
    </div>
    <div ng-if="$ctrl.ServiceTypeConnectionByServiceType(serviceType)">
      <i class="text-success fas fa-check"></i>
    </div>
  </div>
</div>
