<li class='nav-item <%= 'active' if request.path.start_with?('/people') %>'>
  <%= link_to 'People', people_path, class: 'nav-link' %>
</li>
<li class='nav-item <%= 'active' if request.path.start_with?('/departments') %>'>
  <%= link_to 'Departments', departments_path, class: 'nav-link' %>
</li>
