<ul class="list-group mb-2"
    ng-if="$ctrl.location">
  <li class="list-group-item d-flex align-items-center">
      <div class="col pl-0">
        {{$ctrl.location.first_name}}
        {{$ctrl.location.last_name}}
      </div>
      <a ng-click="$ctrl.setLocation()">
        <i class="fas fa-times"></i>
      </a>
  </li>
</ul>
<input class="form-control"
       ng-model="$ctrl.searchString"
       ng-change="$ctrl.search()"
       ng-model-options="{ debounce: 1000 }">
<ul class="list-group mt-2"
    ng-if="$ctrl.data.length > 0">
  <li class="list-group-item d-flex align-items-center"
      ng-repeat="edge in $ctrl.data track by edge.cursor"
      ng-class="{'active': $ctrl.location.id === edge.node.id }"
      ng-click="$ctrl.setLocation(edge.node)">
    <img class="mr-3"
         ng-src="{{edge.node.picture}}">
    <div>
      {{edge.node.first_name}}
      {{edge.node.last_name}}
      <div ng-if="edge.node.email">{{edge.node.email}}</div>
    </div>
  </li>
  <li class="list-group-item d-flex justify-content-center"
      ng-if="$ctrl.data.hasNextPage"
      ng-click="$ctrl.loadMore()">
    Load more locations
  </li>
</ul>
