<footer class="footer">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="http://www.staffportal.org">
            Staff Portal
          </a>
        </li>
        <li>
          <a href="http://help.staffportal.org">
            Help
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      © <%= Time.now.year %> Tandem Ministries
    </div>
  </div>
</footer>
