<div class="tree">
  <div class="heading">
    <div class="title">
      <h1>Locations</h1>
    </div>
    <div class="actions">
      <a ui-sref="locations.new"
         data-title="Add Location"
         data-placement="left"
         data-trigger="hover"
         bs-tooltip>
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="input-group search">
      <input type="text"
             class="form-control"
             placeholder="Filter Locations"
             ng-model="$ctrl.searchString"
             ng-change="$ctrl.load()"
             ng-model-options="{ debounce: 1000 }">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>  
      </div>
    </div>
    <div class="list-group list-group-flush">
       <a class="list-group-item list-group-item-action flex-column align-items-start"
          ng-repeat="location in $ctrl.data track by location.id"
          ui-sref="locations.detail({locationId: location.id})"
          ui-sref-active="active">
          {{location.name}}
      </a>
    </div>
    <div ng-if="$ctrl.data.length == 0" class="text-center m-3 my-5">
      <strong>No Locations</strong>
      <p>
        Get started by adding a location.
      </p>
      <a class="btn btn-primary" ui-sref="locations.new">
        Add Location
      </a>
    </div>
  </div>
  <div class="branch" ui-view>
    <div class="placeholder"></div>
  </div>
</div>
