<div class="jumbotron">
  <h1 class="display-4">
    My Place helps you build better leaders and grow your church.
  </h1>
  <h1 class="display-6">
    Try My Place for free today.
  </h1>
  <p class="lead mt-5">
    <a href="<%= new_user_registration_url(subdomain: 'admin') %>" class="btn btn-primary btn-lg">
      Get Started
    </a>
  </p>
</div>
<div class="row">
  <div class="col-md-4">
    <h4>Build strong &amp; clear leadership development pathways</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec risus vitae sem porta malesuada in ut justo. Nulla ac purus imperdiet.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Focus on great human resource management</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec risus vitae sem porta malesuada in ut justo. Nulla ac purus imperdiet.
    </p>
  </div>
  <div class="col-md-4">
    <h4>Have a single place to document your systems &amp; processes</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec risus vitae sem porta malesuada in ut justo. Nulla ac purus imperdiet.
    </p>
  </div>
</div>
