<div class="row">
  <div class="col-md-6">
    <div class="text-right pb-2">
      <a href="#" class="btn btn-primary">Add Position</a>
    </div>
    <table class="table" ng-if="$ctrl.positions && $ctrl.positions.length > 0">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Position Name</th>
        </tr>
      </thead>
        <tbody>
          <tr ng-repeat="position in $ctrl.positions track by position.id">
            <td>{{$index + 1}}</td>
            <td>{{position.name}}</td>
          </tr>
        </tbody>
      </table>
    <div class="blankslate blankslate-spacious" ng-if="$ctrl.positions && $ctrl.positions.length == 0">
        <i class="far fa-user blankslate-icon"></i>
        <h3>No positions defined yet.</h3>
        <p>It's time to define your first position!</p>
        <a href="#" class="btn btn-primary">Add Position</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
