<div class="tree terminus visible-on-mobile">
  <div class="heading">
    <a class="back" ui-sref="people.detail.entities" ng-if="$ctrl.$state.includes('people')"><i class="fas fa-chevron-left"></i></a>
    <a class="back" ui-sref="me.roles" ng-if="$ctrl.$state.includes('me')"><i class="fas fa-chevron-left"></i></a>
    <div class="title">
      <div class="ph-item" ng-if="$ctrl.loading">
        <div class="ph-col-12 p-0">
          <div class="ph-row mb-0">
            <div class="ph-col-10"></div>
            <div class="ph-col-8 mb-0"></div>
          </div>
        </div>
      </div>
      <div ng-if="!$ctrl.loading" class="loaded">
        <h1>
          {{$ctrl.entity.position.team.name}} > {{$ctrl.entity.position.name}}
        </h1>
        <div class="menu-toggle" ng-click="$ctrl.open = !$ctrl.open" ng-class="{ 'open': $ctrl.open }">
          <div class="icon">
            <i class="fas fa-chevron-down"></i>
          </div>
          <div ng-if="$ctrl.$state.includes('people.detail.roles.entity.objectives') || $ctrl.$state.includes('me.roles.entity.objectives')">
            Objectives
          </div>
          <div ng-if="$ctrl.$state.includes('people.detail.roles.entity.items') || $ctrl.$state.includes('me.roles.entity.items')">
            Checklist
          </div>
          <div ng-if="$ctrl.$state.includes('people.detail.roles.entity.jobDescription') || $ctrl.$state.includes('me.roles.entity.jobDescription')">
            Job Description
          </div>
          <div ng-if="$ctrl.$state.includes('people.detail.roles.entity.training') || $ctrl.$state.includes('me.roles.entity.training')">
            Training
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a ng-click="$ctrl.peopleDetailEntities.delete($ctrl.entity.person.id, $ctrl.entity.id)"
         ng-if="$ctrl.$state.includes('people')"
         data-title="Remove Assignment"
         data-placement="left"
         data-trigger="hover"
         bs-tooltip>
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="menu fade" ng-if="$ctrl.open" ng-click="$ctrl.open = false">
      <a class="menu-item" ui-sref=".objectives">
        <div>Objectives</div>
        <div class="icon"><i class="fas fa-bullseye"></i></div>
      </a>
      <a class="menu-item" ui-sref=".items({positionId: $ctrl.entity.position.id})">
        <div>Checklist</div>
        <div class="icon"><i class="fas fa-list"></i></div>
      </a>
      <a class="menu-item" ui-sref=".jobDescription({positionId: $ctrl.entity.position.id})">
        <div>Job Description</div>
        <div class="icon"><i class="fas fa-pencil-ruler"></i></div>
      </a>
      <a class="menu-item" ui-sref=".training({positionId: $ctrl.entity.position.id})">
        <div>Training</div>
        <div class="icon"><i class="fas fa-graduation-cap"></i></div>
      </a>
    </div>
    <div ui-view="list"></div>
  </div>
</div>
