<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter People">
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
    <span class="input-group-text"
          ng-click="$ctrl.departmentPositionEntities.openNewModal($ctrl.positionId)"
          data-title="Add Person"
          data-placement="left"
          data-trigger="hover"
          bs-tooltip>
      <i class="fas fa-plus"></i>
    </span>
  </div>
</div>
<div class="list-group list-group-flush">
   <a class="list-group-item list-group-item-action flex-column align-items-start"
      ng-repeat="entity in $ctrl.list | filter: { person: { name: $ctrl.search } } track by entity.id"
      ui-sref="departments.detail.positions.detail.entities.detail({entityId: entity.id})"
      ui-sref-active="active">
      {{entity.person.name}}
      <br>
      <span class="badge badge-secondary mr-1" ng-repeat="serviceType in entity.service_types track by serviceType.id">
        {{serviceType.name}}
      </span>
  </a>
</div>
<div class="text-center m-3 my-5" ng-if="$ctrl.list.length == 0">
  <i class="fas fa-users blankslate-icon"></i>
  <h5>No people assigned yet.</h5>
  <p>It's time to assign the first person!</p>
  <a ng-click="$ctrl.departmentPositionEntities.openNewModal($ctrl.positionId)" class="btn btn-primary">Add Person</a>
</div>
