<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter People">
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
    <span class="input-group-text"
          ng-click="$ctrl.departmentPositionEntities.openNewModal($ctrl.positionId)"
          data-title="Add Person"
          data-placement="left"
          data-trigger="hover"
          bs-tooltip>
      <i class="fas fa-plus"></i>
    </span>
  </div>
</div>
<div class="list-group list-group-flush">
  <div class="list-group-item" ng-if="$ctrl.loading" ng-repeat="n in [4, 12, 10, 8]">
    <div class="d-flex align-items-center">
      <div class="ph-avatar mr-3 mb-0"></div>
      <div class="flex-fill">
        <div class="ph-row my-0">
          <div class="ph-col-{{n}}"></div>
          <div class="ph-col-{{12 - n}} empty"></div>
          <div class="ph-col-6 mb-0"></div>
        </div>
      </div>
    </div>
  </div>
  <a class="list-group-item list-group-item-action flex-column align-items-start"
     ui-sref="departments.detail.positions.detail.entities.detail({entityId: entity.id})"
     ui-sref-active="active"
     ng-repeat="entity in $ctrl.list | filter: { person: { name:$ctrl.search } } track by entity.id">
    <departments-detail-positions-detail-entities-item entity="entity"></departments-detail-positions-detail-entities-item>
  </a>
</div>
<div class="text-center m-3 my-5" ng-if="!$ctrl.loading && $ctrl.list.length == 0">
  <i class="fas fa-users blankslate-icon"></i>
  <h5>No Assigned People</h5>
  <p>It's time to assign the first person!</p>
  <a ng-click="$ctrl.departmentPositionEntities.openNewModal($ctrl.positionId)" class="btn btn-primary">Add Person</a>
</div>
