<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter Roles">
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>
<div class="list-group list-group-flush">
  <div class="d-flex list-title" ng-if="$ctrl.departmentList.length > 0" ng-click="$ctrl.hideDepartmentList = !$ctrl.hideDepartmentList">
    <div class="flex-fill">Departments</div>
    <div class="icon" ng-class="{ 'rotate' : $ctrl.hideDepartmentList }"><i class="fas fa-chevron-down"></i></div>
  </div>
  <a class="list-group-item list-group-item-action d-flex align-items-center"
    ng-if="!$ctrl.hideDepartmentList"
    ng-repeat="leader in $ctrl.departmentList | filter: { department: { name: $ctrl.search } } track by leader.id"
    ui-sref=".departmentLeader({leaderId: leader.id})"
    ui-sref-active="active">
    <div class="flex-fill">
      {{leader.department.name}}
    </div>
  </a>
  <div class="d-flex list-title" ng-if="$ctrl.teamList.length > 0" ng-click="$ctrl.hideTeamList = !$ctrl.hideTeamList">
    <div class="flex-fill">Teams</div>
    <div class="icon" ng-class="{ 'rotate' : $ctrl.hideTeamList }"><i class="fas fa-chevron-down"></i></div>
  </div>
  <a class="list-group-item list-group-item-action d-flex align-items-center"
    ng-if="!$ctrl.hideTeamList"
    ng-repeat="leader in $ctrl.teamList | filter: { team: { name: $ctrl.search } } track by leader.id"
    ui-sref=".teamLeader({leaderId: leader.id})"
    ui-sref-active="active">
    <div class="flex-fill">
      {{leader.team.name}}
    </div>
  </a>
  <div class="d-flex list-title" ng-if="$ctrl.entityList.length > 0" ng-click="$ctrl.hideEntityList = !$ctrl.hideEntityList">
    <div class="flex-fill">Positions</div>
    <div class="icon" ng-class="{ 'rotate' : $ctrl.hideEntityList }"><i class="fas fa-chevron-down"></i></div>
  </div>
  <a class="list-group-item list-group-item-action d-flex align-items-center"
    ng-if="!$ctrl.hideEntityList"
    ng-repeat="entity in $ctrl.entityList | filter: { position: { name: $ctrl.search } } track by entity.id"
    ui-sref=".entity({entityId: entity.id})"
    ui-sref-active="active">
    <div class="flex-fill">
      {{entity.position.name}}
      <div ng-if="entity.start_at && !entity.end_at">
        <small>Start: {{entity.start_at | date}}</small>
      </div>
      <div ng-if="entity.end_at && !entity.start_at">
        <small>End: {{entity.end_at | date}}</small>
      </div>
      <div ng-if="entity.end_at && entity.start_at">
        <small>{{entity.start_at | date}} - {{entity.end_at | date}}</small>
      </div>
    </div>
    <div ng-if="entity.trial"
        data-title="Trial"
        data-placement="left"
        data-trigger="hover"
        bs-tooltip>
      <i class="fas fa-business-time"></i>
    </div>
  </a>
  <loading-list ng-if="$ctrl.loading"></loading-list>
</div>
<div class="text-center m-3 my-5" ng-if="!$ctrl.loading && $ctrl.entityList.length == 0 && $ctrl.departmentList.length == 0 && $ctrl.teamList.length == 0">
  <i class="fas fa-id-card blankslate-icon"></i>
  <h5>No Positions</h5>
</div>
