<tr class="<%= "descendant parent-#{department.id} #{parent_string}" if depth > 0 %> new-unit">
  <td></td>
  <td>
    <div class="row">
      <div class="col-<%= depth %>">
      </div>
      <div class="col">
        <form class="new-unit-form">
          <button type="submit">
            <%= icon 'plus-square' %>
          </button>
          <input type="text" name="department[name]" placeholder="New Unit">
          <input type="hidden" name="department[parent_id]" value="<%= department.try(:id) %>">
        </form>
      </div>
    </div>
  </td>
  <td colspan="100">
  </td>
</tr>
