<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Sub Departments</th>
      <th>Positions</th>
      <th>Unique People</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% departments.each do |department| %>
      <%= render partial: 'row', locals: { department: department, depth: 0, parent_string: '' } %>
    <% end %>
    <%= render partial: 'new_row', locals: { department: department, depth: 0, parent_string: '' } %>
  </tbody>
</table>
