
<div class="row">
  <div class="col-3">
    <div class="list-group">
      <a class="list-group-item d-flex"
         ui-sref="organizations.integrations.elvanto"
         ui-sref-active="active">
        <span class="flex-grow-1">Elvanto</span>
      </a>
      <a class="list-group-item d-flex"
         ui-sref="organizations.integrations.fluro"
         ui-sref-active="active">
        <span class="flex-grow-1">Fluro</span>
      </a>
    </div>
  </div>
  <div class="col-9" ui-view></div>
</div>
