<div class="row">
  <div class="col-md-4">
    <div class="list-group">
    <% sub_department.positions.each do |position| %>
      <a href="<%=  department_sub_department_position_path(department, sub_department, position) %>" class="list-group-item justify-content-between">
        <%= position.name %>
        <span class="badge badge-default badge-pill"><%= position.people.count %></span>
      </a>
    <% end %>
    </div>
  </div>
</div>
