departments-detail-teams-detail-positions-detail-job-description {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  trix-toolbar {
    border-bottom: 1px solid #ccc;
    padding: 5px 15px;
    overflow: auto;
    .trix-button-group {
      margin-bottom: 0;
      border: 0;
      border-radius: 0;
      &:not(:first-child) {
        margin-left: 0;
      }
    }
    .trix-button {
      border: 0;
      &:not(:first-child) {
        border: 0;
      }
    }
  }
  trix-editor {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 37px;
    left: 0;
    border: 0;
    padding: 10px 15px;
    overflow: auto;
  }
  .read-only {
    padding: 10px 15px;
    img {
      width: 100%;
    }
    .attachment__toolbar {
      display: none;
    }
  }
}
