<div class="tree terminus" ng-class="{ 'visible-on-mobile' : $ctrl.$state.is('departments.detail.teams.detail.positions.detail.entities.detail.objectives') }">
  <div class="heading">
    <a class="back" ui-sref="departments.detail.teams.detail.positions.detail.entities"><i class="fas fa-chevron-left"></i></a>
    <div class="title">
      <div class="ph-item" ng-if="$ctrl.loading">
        <div class="ph-col-12 p-0">
          <div class="ph-row mb-0">
            <div class="ph-col-10"></div>
            <div class="ph-col-8 mb-0"></div>
          </div>
        </div>
      </div>
      <div ng-if="!$ctrl.loading">
        <h1>
          <a ui-sref="people.detail.entities.detail({personId: $ctrl.entity.person.id, positionEntityId: $ctrl.entity.id})">
            {{$ctrl.entity.person.first_name}} {{$ctrl.entity.person.last_name}}
          </a>
        </h1>
        <div class="menu-toggle" ng-click="$ctrl.open = !$ctrl.open" ng-class="{ 'open': $ctrl.open }">
          <div class="icon">
            <i class="fas fa-chevron-down"></i>
          </div>
          <div ng-if="$ctrl.$state.includes('departments.detail.teams.detail.positions.detail.entities.detail.objectives')">
            Objectives
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a ng-click="$ctrl.departmentsDetailTeamsDetailPositionsDetailEntities.openEditModal($ctrl.$stateParams.positionId, $ctrl.entity)"
         data-title="Edit Assignment"
         data-placement="left"
         data-trigger="hover"
         bs-tooltip>
        <i class="far fa-edit"></i>
      </a>
      <a ng-click="$ctrl.departmentsDetailTeamsDetailPositionsDetailEntities.delete($ctrl.$stateParams.positionId, $ctrl.entity)"
         data-title="Remove Assignment"
         data-placement="left"
         data-trigger="hover"
         bs-tooltip>
        <i class="fas fa-times"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="menu fade" ng-if="$ctrl.open" ng-click="$ctrl.open = false">
      <a class="menu-item" ui-sref=".objectives">
        <div>Objectives</div>
        <div class="icon"><i class="fas fa-bullseye"></i></div>
      </a>
    </div>
    <div ui-view="list"></div>
  </div>
</div>
