<div class="row">
  <div class="col-md-4">
    <div class="list-group">
    <% department.sub_departments.each do |sub_department| %>
      <a href="<%=  department_sub_department_path(department, sub_department) %>" class="list-group-item justify-content-between">
        <%= sub_department.name %>
        <span class="badge badge-default badge-pill"><%= sub_department.positions.count %></span>
      </a>
    <% end %>
    </div>
  </div>
</div>
