<div class="row">
  <div class="col-md-4">
    <div class="list-group">
    <% position.people.each do |person| %>
      <a href="<%=  person_path(person) %>" class="list-group-item justify-content-between">
        <%= person.name %>
      </a>
    <% end %>
    </div>
  </div>
</div>
