objectives-detail-key-results-item {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  @media (max-width: 767px) {
    grid-template-columns: initial;
    grid-gap: 5px;
  }
  .changed-key-result-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .changed-key-result {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    > div {
      display: inline-block;
      height: 30px;
      line-height: 30px;
      overflow: hidden;
    }
    @media (max-width: 767px) {
      margin-left: 40px;
    }
  }
  .result-type {
    width: 40px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
  }
  input[type=number] {
    border: 0;
    width: 80px;
    outline: none;
    box-shadow: none;
    text-align: right;
    font-weight: bold;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    padding-left: 10px;
    opacity: 1;
  }
}
