<div class="changed-key-result-name col p-0">
  <span class="text-muted mr-2">KR</span>
  {{$ctrl.keyResult.name}}
</div>
<div class="changed-key-result">
  <div>
    <input type="range"
           ng-model="$ctrl.changedKeyResult.current_value"
           ng-model-options="{ debounce: 500 }"
           ng-change="$ctrl.save()"
           slider
           options="$ctrl.options">
  </div>
  <div>
    <input type="number"
           ng-model="$ctrl.changedKeyResult.current_value"
           ng-model-options="{ updateOn: 'blur' }"
           ng-change="$ctrl.save()">
  </div>
  <div class="result-type text-muted">
    {{$ctrl.changedKeyResult.result_type}}
  </div>
  <div>
    <a ng-click="$ctrl.openEditModal()"
       data-title="Edit Key Result"
       data-placement="left"
       data-trigger="hover"
       bs-tooltip>
      <i class="far fa-edit"></i>
    </a>
  </div>
</div>
