<div class="tree terminus">
    <div class="heading">
      <div class="title" >
        <h1>
          <a ui-sref="people.detail({ personId: $ctrl.leader.person.id })">
            {{$ctrl.leader.person.name}}
          </a>
        </h1>
        <div class="menu-toggle" ng-click="open = !open" ng-class="{ 'open': open }">
          <div class="icon">
            <i class="fas fa-chevron-up"></i>
          </div>
          <div ng-if="$ctrl.$state.includes('departments.detail.leaders.detail.serviceTypeConnections')">
            Service Types
          </div>
          <div ng-if="$ctrl.$state.includes('departments.detail.leaders.detail.objectives')">
            Objectives
          </div>
        </div>
      </div>
      <div class="actions">
        <a ng-click="$ctrl.deparmentLeaders.delete($ctrl.departmentId, $ctrl.leader.id)"
            data-title="Remove Leader"
            data-placement="left"
            data-trigger="hover"
            bs-tooltip>
          <i class="fas fa-times"></i>
        </a>
      </div>
    </div>
    <div class="list">
      <div class="menu fade" ng-if="open" ng-click="open = false">
        <a class="menu-item" ui-sref=".serviceTypes">
          <div>Service Types</div>
          <div class="icon"><i class="fas fa-dolly"></i></div>
        </a>
        <a class="menu-item" ui-sref=".objectives">
          <div>Objectives</div>
          <div class="icon"><i class="fas fa-bullseye"></i></div>
        </a>
      </div>
      <div ui-view="list"></div>
    </div>
  </div>
