<div class="d-flex align-items-center">
  <avatar class="mr-3" source="$ctrl.entity.person.picture"></avatar>
  <div class="flex-fill">
    {{$ctrl.entity.person.name}}
    <div class="d-flex">
      <div ng-repeat="leader in $ctrl.entity.leaders track by leader.id"
          data-title="{{leader.person.name}}"
          data-trigger="hover"
          data-placement="bottom"
          bs-tooltip>
        <avatar source="leader.person.picture" size="xs"></avatar>
      </div>
    </div>
    <div ng-if="$ctrl.entity.start_at && !$ctrl.entity.end_at">
      <small>Start: {{$ctrl.entity.start_at | date}}</small>
    </div>
    <div ng-if="$ctrl.entity.end_at && !$ctrl.entity.start_at">
      <small>End: {{$ctrl.entity.end_at | date}}</small>
    </div>
    <div ng-if="$ctrl.entity.end_at && $ctrl.entity.start_at">
      <small>{{$ctrl.entity.start_at | date}} - {{$ctrl.entity.end_at | date}}</small>
    </div>
  </div>
  <div ng-if="$ctrl.entity.trial"
       data-title="Trial"
       data-placement="left"
       data-trigger="hover"
       bs-tooltip>
    <i class="fas fa-business-time"></i>
  </div>
</div>
