sidebar {
  background-color: #162C52;
  position: fixed;
  overflow: auto;
  width: 60px;
  left: 0;
  top: 0;
  bottom: 0;
  a:link, a:visited {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    padding: 8px 10px 10px 10px;
    margin: 10px;
    display: block;
    text-align: center;
    &.active {
      background-color: $department-bg;
      border-radius: 5px;
    }
  }
}
