<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter Positions">
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
    <span class="input-group-text"
          ng-click="$ctrl.departmentPositions.openNewModal($ctrl.departmentId)"
          data-title="Add Position"
          data-trigger="hover"
          data-placement="left"
          bs-tooltip>
      <i class="fas fa-plus"></i>
    </span>
  </div>
</div>
<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action d-flex align-items-center"
      ng-repeat="position in $ctrl.list | filter: { name:$ctrl.search } track by position.id"
      ui-sref="departments.detail.positions.detail({positionId: position.id})"
      ui-sref-active="active">
    <div class="flex-fill">
      {{position.name}}
    </div>
    <div>
      <span class="badge badge-secondary"
            ng-class="{ 'badge-warning' : position.people_needed > position.people_active, 'badge-success' : position.people_needed < position.people_active }"
            data-title="active / needed"
            data-placement="left"
            data-trigger="hover"
            bs-tooltip>{{position.people_active}} / {{position.people_needed}}</span>
    </div>
  </a>
</div>
<div class="text-center m-3 my-5" ng-if="$ctrl.list.length == 0">
  <i class="fas fa-id-card blankslate-icon"></i>
  <h5>No positions defined yet.</h5>
  <p>It's time to define your first position!</p>
  <a ng-click="$ctrl.departmentPositions.openNewModal($ctrl.departmentId)" class="btn btn-primary">Add Position</a>
</div>
