<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter Positions">
  <span class="input-group-addon">
    <i class="fas fa-search"></i>
  </span>
  <span class="input-group-addon" ng-click="$ctrl.departmentPositions.openNewModal($ctrl.departmentId)">
    <i class="fas fa-plus"></i>
  </span>
</div>
<div class="list-group list-group-flush">
   <a class="list-group-item list-group-item-action flex-column align-items-start"
      ng-repeat="position in $ctrl.list | filter: { name:$ctrl.search } track by position.id"
      ui-sref="departments.detail.position({positionId: position.id})"
      ui-sref-active="active">
      {{position.name}}
  </a>
</div>
<div class="text-center m-3 my-5" ng-if="$ctrl.list.length == 0">
  <i class="fas fa-bullseye blankslate-icon"></i>
  <h3>No positions defined yet.</h3>
  <p>It's time to define your first position!</p>
  <a ng-click="$ctrl.departmentPositions.openNewModal($ctrl.departmentId)" class="btn btn-primary">Add Position</a>
</div>
