@import 'detail/detail';

departments-detail-positions {
  display: grid;
  grid-template-columns: 250px auto;
  flex-grow: 1;
  > .menu {
    .search {
      border-bottom: 1px solid #ccc;
      .form-control {
        border: 0;
        border-radius: 0;
        padding-left: 20px;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      .input-group-addon {
        border: 0;
        border-radius: 0;
      }
    }
    border-right: 1px solid #ccc;
    overflow: auto;
  }
  > .content {
    display: flex;
    > departments-detail-positions-detail {
      flex-grow: 1;
    }
  }
}
