<div class="tree">
  <div class="heading">
    <div class="title">
      <h1>Department</h1>
      {{$ctrl.department.name}}
    </div>
    <div class="actions">
      <a ui-sref=".objectives">
        <i class="fas fa-chess-queen"></i>
      </a>
      <a ng-click="$ctrl.departments.openEditModal($ctrl.department)">
        <i class="far fa-edit"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="list-divided">
      <departments-detail-positions department-id="$ctrl.department.id"></departments-detail-positions>
      <departments-detail-leaders department-id="$ctrl.department.id"></departments-detail-leaders>
    </div>
  </div>
  <div class="branch" ui-view>
    <div class="placeholder"></div>
  </div>
</div>
