<h1 class="panel-title">
  {{$ctrl.department.name}}
  <div class="float-right">
    <a ng-click="$ctrl.departments.openEditDepartmentModal($ctrl.department)">
      <i class="far fa-edit"></i>
    </a>
  </div>
</h1>
<div class="content">
  <nav class="nav">
    <a class="nav-link" ui-sref="departments.detail.activity" ui-sref-active="active">
      Activity
    </a>
    <a class="nav-link" ui-sref="departments.detail.objectives" ui-sref-active="active">
      Objectives
    </a>
    <a class="nav-link" ui-sref="departments.detail.positions" ui-sref-active="active">
      Positions
    </a>
  </nav>
  <div ui-view></div>
</div>
