@import 'positions/positions';

departments-detail {
  display: flex;
  flex-direction: column;
  > .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    > .panel-title {
      border-top-right-radius: 10px;
      padding: 10px 20px;
      flex: 60px 0;
    }
    nav.nav {
      border-bottom: 1px solid #D8D6D5;
      line-height: 36px;
      a.nav-link {
        transition: all 0.2s;
        border-bottom: 2px solid transparent;
        color: rgb(112, 110, 107);
        text-transform: uppercase;
        font-size: 80%;
        letter-spacing: 0.1em;
        margin-left: 10px;
        padding: 0 1em;
        &:hover, &.active {
          color: rgb(22, 50, 92);
          border-color: rgb(0, 112, 210);
        }
        &:first-child {
          margin-left: 0;
          padding-left: 20px;
        }
      }
    }
    > .navigation {
      flex: 45px 0;
      > nav.nav {
        line-height: 46px;
      }
    }
    > .content {
      overflow: auto;
      display: flex;
      flex-direction: row;
      flex-grow: 1;
    }
  }
}
