<div class="tree" ng-class="{ 'visible-on-mobile' : $ctrl.$state.is('departments.detail.teams.detail.objectives') || $ctrl.$state.is('departments.detail.teams.detail.positions'), 'terminus' : $ctrl.$state.is('departments.detail.teams.detail.objectives') || $ctrl.$state.is('departments.detail.positions.detail.items') || $ctrl.$state.is('departments.detail.positions.detail.jobDescription') || $ctrl.$state.is('departments.detail.positions.detail.training') }">
  <div class="heading">
    <a class="back" ui-sref="departments.detail.teams"><i class="fas fa-chevron-left"></i></a>
    <div class="title">
      <div class="ph-col-12" ng-if="$ctrl.loading">
        <div class="ph-row mb-0">
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-2 mb-0"></div>
        </div>
      </div>
      <div ng-if="!$ctrl.loading">
        <h1>{{$ctrl.team.name}}</h1>
        <div class="menu-toggle" ng-click="$ctrl.open = !$ctrl.open" ng-class="{ 'open': $ctrl.open }">
          <div class="icon">
            <i class="fas fa-chevron-down"></i>
          </div>
          <div ng-if="$ctrl.$state.includes('departments.detail.teams.detail.positions')">
            Positions
          </div>
          <div ng-if="$ctrl.$state.includes('departments.detail.teams.detail.objectives')">
            Objectives
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <a ng-click="$ctrl.departmentsDetailTeams.openEditModal($ctrl.departmentId, $ctrl.team)"
         data-title="Edit Team"
         data-placement="left"
         data-trigger="hover"
         bs-tooltip>
        <i class="far fa-edit"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="menu fade" ng-if="$ctrl.open" ng-click="$ctrl.open = false">
      <a class="menu-item" ui-sref=".positions">
        <div>Positions</div>
        <div class="icon"><i class="fas fa-user"></i></div>
      </a>
      <a class="menu-item" ui-sref=".objectives">
        <div>Objectives</div>
        <div class="icon"><i class="fas fa-bullseye"></i></div>
      </a>
    </div>
    <div ui-view="list"></div>
  </div>
  <div class="branch" ui-view="branch" ng-if="!$ctrl.$state.is('departments.detail.teams.detail.objectives')">
    <div class="placeholder"></div>
  </div>
</div>
