.tree {
   display: grid;
   grid-template-columns: 250px auto;
   grid-template-rows: 60px auto;
   &.terminus {
     grid-template-columns: auto;
   }
  > .heading {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    align-items: center;
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
    .menu-toggle {
      cursor: pointer;
      > .icon {
        float: left;
        transition: transform 0.2s ease-out;
        margin-right: 5px;
      }
      &.open > .icon {
        transform: rotate(180deg);
      }
    }
    > .back {
      display: none;
    }
    > .title {
      flex-grow: 1;
      max-height: 40px;
      overflow: hidden;
      > h1 {
        font-size: 16px;
        font-weight: bold;
        margin: 0;
        height: 19px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    > .actions {
      cursor: pointer;
      min-width: 40px;
      text-align: right;
      a, a:link, a:visited {
        color: #aaa;
        transition: color 0.1s ease-out;
        &:hover {
          text-decoration: none;
          color: #007bff;
        }
      }
    }
  }
  > .list {
    grid-row: 2;
    grid-column: 1;
    height: calc(100vh - 139px);
    overflow: auto;
    position: relative;
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%;
      z-index: 3;
      background: rgba(#000, 0.5);
      overflow: hidden;
      opacity: 1;
      &-item {
        display: flex;
        align-items: center;
        padding: 12px 15px;
        border-bottom: 1px solid #ccc;
        background: #fff;
        > *:first-child {
          flex-grow: 1;
        }
        .icon {
          width: 16px;
          text-align: center;
        }
      }
    }
    .search {
      .form-control, .input-group-text {
        border-radius: 0;
        border-top-width: 0;
      }
      .form-control {
        border-left: 0;
      }
      .input-group-append:last-child .input-group-text {
        border-right: 0;
      }
    }
    .list-group {
      .list-group-item:first-child {
        border-top: 0;
      }
    }
    .list-divided {
      display: flex;
      flex-direction: column;
      height: 100%;
      > * {
        flex-grow: 1;
      }
    }
  }
  > .branch {
    grid-row: 1 / span 2;
    grid-column: 2;
    border-left: 1px solid #ccc;
    > .placeholder {
      height: 60px;
      border-bottom: 1px dashed #ccc;
    }
  }
  @media (max-width: 767px) {
    grid-template-columns: auto;
    > .heading, > .list {
      display: none;
    }
    > .heading {
      > .back {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;
        margin-left: -15px;
        width: 50px;
        height: 100%;
        border-right: 1px solid #ccc;
        color: #ccc;
        &:hover {
          color: #aaa;
        }
      }
    }
    > .list {
      height: calc(100vh - 120px);
    }
    > .branch {
      grid-row: 1;
      grid-column: 1;
    }
    &.visible-on-mobile {
      > .heading {
        display: flex;
      }
      > .list {
        display: block;
      }
      > .branch {
        display: none;
      }
    }
  }
}
