<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter Positions">
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
  </div>
</div>
<div class="list-group list-group-flush">
  <a class="list-group-item list-group-item-action d-flex align-items-center"
    ng-repeat="positionEntity in $ctrl.list | filter: { position: { name: $ctrl.search } } track by positionEntity.id"
    ui-sref=".detail({positionEntityId: positionEntity.id})"
    ui-sref-active="active">
    <div class="flex-fill">
      {{positionEntity.position.name}}
      <div ng-if="positionEntity.start_at && !positionEntity.end_at">
        <small>Start: {{positionEntity.start_at | date}}</small>
      </div>
      <div ng-if="positionEntity.end_at && !positionEntity.start_at">
        <small>End: {{positionEntity.end_at | date}}</small>
      </div>
      <div ng-if="positionEntity.end_at && positionEntity.start_at">
        <small>{{positionEntity.start_at | date}} - {{positionEntity.end_at | date}}</small>
      </div>
      <div>
        <span class="badge badge-secondary mr-1" ng-repeat="serviceType in positionEntity.service_types track by serviceType.id">
          {{serviceType.name}}
        </span>
      </div>
    </div>
    <div ng-if="positionEntity.trial"
        data-title="Trial"
        data-placement="left"
        data-trigger="hover"
        bs-tooltip>
      <i class="fas fa-business-time"></i>
    </div>
  </a>
</div>
<div class="text-center m-3 my-5" ng-if="$ctrl.list.length == 0">
  <i class="fas fa-id-card blankslate-icon"></i>
  <h5>No positions assigned yet.</h5>
</div>
