@import 'roles/roles';
people-detail {
  > .tree {
    &.edit {
      grid-template-columns: 500px auto;
      > .list  {
        padding: 10px 15px 0;
        .user-list {
          margin: 0 -15px;
          > .list-group-item:first-child {
            border-top: 1px solid rgba(0, 0, 0, .125);
          }
        }
      }
    }
    > .heading {
      .title {
        > .loaded {
          display: grid;
          grid-template-columns: 40px auto;
          grid-column-gap: 10px;
          > img {
            height: 40px;
            width: 40px;
            border-radius: 100%;
            grid-row: 1 / span 2;
          }
        }
      }
    }
  }
  @media (max-width: 767px) {
    > .tree.edit {
      grid-template-columns: 1fr;
    }
  }
}
