<div class="tree" ng-class="{ 'visible-on-mobile': $ctrl.$state.is('people.detail') || $ctrl.$state.is('me') || $ctrl.$state.is('people.detail.objectives') || $ctrl.$state.is('me.objectives') || $ctrl.$state.is('people.detail.entities') || $ctrl.$state.is('me.roles'), 'edit': $ctrl.$state.is('people.detail') || $ctrl.$state.is('people.new') || $ctrl.$state.is('me'), 'terminus': $ctrl.$stateParams.peopleDetailExpanded }">
  <div class="heading">
    <a class="back" ui-sref="people" ng-if="$ctrl.$state.includes('people')"><i class="fas fa-chevron-left"></i></a>
    <div class="title">
      <div class="ph-item" ng-if="$ctrl.loading">
        <div class="ph-col-12 p-0">
          <div class="ph-row mb-0">
            <div class="ph-col-10"></div>
            <div class="ph-col-8 mb-0"></div>
          </div>
        </div>
      </div>
      <div ng-if="!$ctrl.loading" class="loaded">
        <avatar source="$ctrl.person.picture"></avatar>
        <h1 ng-if="$ctrl.$state.includes('people')">{{$ctrl.person.first_name}} {{$ctrl.person.last_name}}</h1>
        <h1 ng-if="$ctrl.$state.includes('me')">My Profile</h1>
        <div class="menu-toggle" ng-click="$ctrl.open = !$ctrl.open" ng-class="{ 'open': $ctrl.open }" ng-if="!$ctrl.$state.includes('people.new')">
          <div class="icon">
            <i class="fas fa-chevron-down"></i>
          </div>
          <div ng-if="$ctrl.$state.is('people.detail') || $ctrl.$state.is('me')">
            Details
          </div>
          <div ng-if="$ctrl.$state.includes('people.detail.roles') || $ctrl.$state.includes('me.roles')">
            Roles
          </div>
          <div ng-if="$ctrl.$state.is('people.detail.objectives') || $ctrl.$state.is('me.objectives')">
            Objectives
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
    </div>
  </div>
  <div class="list">
    <div class="menu fade" ng-if="$ctrl.open" ng-click="$ctrl.open = false">
      <a class="menu-item" ui-sref="people.detail" ng-if="$ctrl.$state.includes('people.detail')">
        <div>Details</div>
        <div class="icon"><i class="fas fa-edit"></i></div>
      </a>
      <a class="menu-item" ui-sref="me" ng-if="$ctrl.$state.includes('me')">
        <div>Details</div>
        <div class="icon"><i class="fas fa-edit"></i></div>
      </a>
      <a class="menu-item" ui-sref=".roles">
        <div>Roles</div>
        <div class="icon"><i class="fas fa-id-card"></i></div>
      </a>
      <a class="menu-item" ui-sref=".objectives">
        <div>Objectives</div>
        <div class="icon"><i class="fas fa-bullseye"></i></div>
      </a>
    </div>
    <div ui-view="list">
      <form name="personForm" ng-submit="$ctrl.save(personForm)">
        <div class="form-group row">
          <div class="col-12 col-sm-6 mb-3 mb-sm-0 pr-sm-0">
            <label>First Name</label>
            <input class="form-control" ng-model="$ctrl.person.first_name" required>
          </div>
          <div class="col-12 col-sm-6">
            <label>Last Name</label>
            <input class="form-control" ng-model="$ctrl.person.last_name" required>
          </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" ng-model="$ctrl.person.email">
        </div>
        <div class="form-group">
          <label>Phone Number</label>
          <input class="form-control" ng-model="$ctrl.person.phone">
        </div>
        <div class="form-group">
          <label>Mobile Number</label>
          <input class="form-control" ng-model="$ctrl.person.mobile">
        </div>
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control" ng-model="$ctrl.person.gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="text-right">
          <button type="submit" ng-disabled="!personForm.$valid || personForm.$pristine || $ctrl.saving" class="btn btn-primary">Save</button>
      </form>
      <div class="list-group list-group-flush user-list mt-3">
        <div class="list-group-item">
          <strong>Users</strong>
        </div>
        <div class="list-group-item" ng-repeat="user in $ctrl.person.users track by user.id">
          <div>{{user.first_name}} {{user.last_name}}</div>
          <div class="text-muted">{{user.email}}</div>
        </div>
        <div class="list-group-item" ng-if="$ctrl.person.users.length === 0">
          <div>Invite User by Email</div>
          <div class="input-group mt-2">
            <button class="btn btn-secondary btn-block"
                    ng-click="$ctrl.invite()"
                    ng-disabled="!$ctrl.person.email || personForm.$dirty || !$ctrl.person.invitable">
              Send Invite Email <strong ng-if="$ctrl.person.email">({{$ctrl.person.email}})</strong>
            </button>
          </div>
          <div class="text-center text-muted">
            <div ng-if="$ctrl.person.email && personForm.$pristine && !$ctrl.person.invitable">
              <small>Person has been invited recently. Try again later.</small>
            </div>
            <div ng-if="!$ctrl.person.email && personForm.$pristine">
              <small>Email must be set first.</small>
            </div>
            <div ng-if="personForm.$dirty">
              <small>Person must be saved first.</small>
            </div>
          </div>
        </div>
        <div class="list-group-item" ng-if="$ctrl.person.users.length === 0">
          <div>Invite User by Link</div>
          <div class="input-group mt-2">
            <input class="form-control" id="user-link" ng-model="$ctrl.person.invite_url" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" ngclipboard data-clipboard-target="#user-link">
                <i class="far fa-copy"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="branch" ui-view="branch">
    <div class="placeholder"></div>
  </div>
</div>
