@import 'positionEntities/positionEntities';
people-detail {
  > .tree {
    &.edit {
      grid-template-columns: 500px auto;
      > .list  {
        padding: 10px 15px;
        .user-list {
          margin: 0 -15px;
          > .list-group-item:first-child {
            border-top: 1px solid rgba(0, 0, 0, .125);
          }
        }
      }
    }
    > .heading {
      > img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
        border-radius: 100%;
      }
    }
  }
  @media (max-width: 767px) {
    > .tree.edit {
      grid-template-columns: 1fr;
    }
  }
}
