<modal title="New Department" save="$ctrl.save()" cancel="$hide()">
  <div class="form-group">
    <label>Name<span class="text-danger">*</span></label>
    <input class="form-control"
           type="text"
           ng-model="$ctrl.department.name"
           placeholder="Name"
           autofocus
           required>
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" ng-model="$ctrl.department.description"></textarea>
  </div>
  <div class="form-group">
    <label>Parent</label>
    <select chosen
            ng-model="$ctrl.department.parent_id"
            ng-options="department.id as department.name for department in $ctrl.departments.allDepartments"
            allow-single-deselect="true"
            class="form-control">
      <option value=""></option>
    </select>
  </div>
</modal>
