<div class="card">
  <div class="card-body p-5">
    <h4 class="card-title">
      <%= @organization.name %> Configured
    </h4>
    <p>
      Looks like you're ready to go!
    </p>
  </div>
</div>
<div class="text-right mt-3">
  <a href="<%= admin_root_path %>" class="btn btn-primary">
    Go to Dashboard
  </a>
</div>
