<section class="row is-graphic-row"></section>
<section class="row is-card row--tout row--tout--faqs">
  <div class="row__inner">
    <div class="card">
      <div class="row__inner row--tout__inner">
        <div class="card-block">
          <%= @organization.name %> Configured
          <h1 class="card-title">
            Looks like you're ready to go!
          </h1>
          <a href="<%= admin_root_path %>" class="btn btn-primary">Go to Dashboard</a>
        </div>
      </div>
    </div>
  </div>
</section>
        