<div class="card">
  <div class="header header-no-content top">
    <h4 class="title"><%= @organization.name %> Configured</h4>
    <p class="category">Looks like you're ready to go!</p>
  </div>
  <div class="actions">
    <a class="btn btn-primary btn-fill" href="<%= admin_root_path %>"><%= icon 'dashboard' %> Go to Dashboard</a>
  </div>
</div>
