<section class="row is-graphic-row"></section>
<section class="row is-card row--tout row--tout--faqs">
  <div class="row__inner">
    <div class="card">
      <div class="row__inner row--tout__inner">
        <div class="card-block">
          <h1 class="card-title">
          </h1>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="card">
  <div class="card-body p-5">
    <h4 class="card-title">
      <%= @organization.name %> Configured
    </h4>
    <p>
      Looks like you're ready to go!
    </p>
    <a href="<%= admin_root_path %>" class="btn btn-primary btn-block">
      Go to Dashboard
    </a>
  </div>
</div>
