@import 'entities/entities';

departments-detail-positions-detail {
  display: flex;
  flex-direction: column;
  > .title {
    flex: 59px 0;
  }
  > .nav {
    flex: 39px 0;
  }
  > .content {
    flex-grow: 1;
    display: flex;
  }
}
