<div class="title d-flex w-100 justify-content-between border-bottom p-3">
  <h5 class="mb-1">{{$ctrl.position.name}}</h5>
  <a ng-click="$ctrl.departmentPositions.openEditPositionModal($ctrl.departmentId, $ctrl.position)">
    <i class="far fa-edit"></i>
  </a>
</div>
<nav class="nav">
  <a class="nav-link" ui-sref=".entities" ui-sref-active="active">
    People
  </a>
  <a class="nav-link active ml-0 pl-0"
     ng-class="{ 'd-none' : !$ctrl.$state.includes('departments.detail.positions.detail.entities') }"
     ng-click="$ctrl.departmentPositionEntities.openNewModal($ctrl.position.id)">
    <i class="fas fa-plus"></i>
  </a>
  <a class="nav-link" ui-sref=".objectives" ui-sref-active="active">
    Objectives
  </a>
  <a class="nav-link active ml-0 pl-0"
     ng-class="{ 'd-none' : !$ctrl.$state.includes('departments.detail.positions.detail.objectives') }"
     ng-click="$ctrl.objectives.openNewObjectiveModal($ctrl.position.id, 'position')">
    <i class="fas fa-plus"></i>
  </a>
</nav>
<div class="content" ui-view></div>
