.card {
  > .row__inner {
    > .card-block {
      padding: 0;
    }
  }
  .card-title {
    color: #757575;
    font-size: 48px;
    line-height: 62px;
    font-weight: 300;
    max-width: 80%;
    margin-bottom: 40px;
  }
}