.card {
  > .row__inner {
    > .card-block {
      padding: 0;
    }
  }
  .card-title {
    color: #757575;
    font-size: 48px;
    line-height: 62px;
    font-weight: 300;
    max-width: 80%;
    margin-bottom: 40px;
  }
}
.integrations {
  &.card {
    margin-top: 10px;
    background-color: #323232;
    .card-block {
      .card-title {
        color: #fff;
      }
      .card-text {
        input {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }
  &__logos {
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 20px 0;
  }
  &__logo img {
    max-height: 30px;
  }
}
