modal {
  .modal-header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0;
    .modal-title {
      padding: 1rem;
    }
    .modal-close {
      width: 60px;
      padding: 1rem;
      border-left: 1px solid #e9ecef;
      text-align: center;
      font-size: 24px;
      color: #e9ecef;
      a {
        cursor: pointer;
        transition: color 0.2s;
        &:hover {
          color: darken(#e9ecef, 20%);
        }
      }
    }
  }
  .modal-body {
    .form-group:last-child {
      margin-bottom: 0;
    }
  }
}
