<div class="input-group search">
  <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter People">
  <div class="input-group-append">
    <span class="input-group-text">
      <i class="fas fa-search"></i>
    </span>
    <span class="input-group-text"
          ng-click="$ctrl.departmentsDetailTeamsDetailPositionsDetailEntities.openNewModal($ctrl.$stateParams.positionId)"
          data-title="Add Person"
          data-placement="left"
          data-trigger="hover"
          bs-tooltip>
      <i class="fas fa-plus"></i>
    </span>
  </div>
</div>
<div class="list-group list-group-flush">
  <loading-list ng-if="$ctrl.loading"></loading-list>
  <div class="d-flex list-title" ng-if="$ctrl.myList.length > 0" ng-click="$ctrl.hideMyList = !$ctrl.hideMyList">
    <div class="flex-fill">Assigned to Me</div>
    <div class="icon" ng-class="{ 'rotate' : $ctrl.hideMyList }"><i class="fas fa-chevron-down"></i></div>
  </div>
  <a class="list-group-item list-group-item-action flex-column align-items-start"
     ng-if="!$ctrl.hideMyList"
     ui-sref=".detail({entityId: entity.id})"
     ui-sref-active="active"
     ng-repeat="entity in $ctrl.myList | filter: { person: { name:$ctrl.search } } track by entity.id">
    <departments-detail-teams-detail-positions-detail-entities-item entity="entity"></departments-detail-teams-detail-positions-detail-entities-item>
  </a>
  <div class="d-flex list-title" ng-if="$ctrl.assignedList.length > 0" ng-click="$ctrl.hideAssignedList = !$ctrl.hideAssignedList">
    <div class="flex-fill">Assigned</div>
    <div class="icon" ng-class="{ 'rotate' : $ctrl.hideAssignedList }"><i class="fas fa-chevron-down"></i></div>
  </div>
  <a class="list-group-item list-group-item-action flex-column align-items-start"
     ng-if="!$ctrl.hideAssignedList"
     ui-sref=".detail({entityId: entity.id})"
     ui-sref-active="active"
     ng-repeat="entity in $ctrl.assignedList | filter: { person: { name:$ctrl.search } } track by entity.id">
    <departments-detail-teams-detail-positions-detail-entities-item entity="entity"></departments-detail-teams-detail-positions-detail-entities-item>
  </a>
  <div class="d-flex list-title" ng-if="$ctrl.unassignedList.length > 0" ng-click="$ctrl.hideUnassignedList = !$ctrl.hideUnassignedList">
    <div class="flex-fill">Unassigned</div>
    <div class="icon" ng-class="{ 'rotate' : $ctrl.hideUnassignedList }"><i class="fas fa-chevron-down"></i></div>
  </div>
  <a class="list-group-item list-group-item-action flex-column align-items-start"
     ng-if="!$ctrl.hideUnassignedList"
     ui-sref=".detail({entityId: entity.id})"
     ui-sref-active="active"
     ng-repeat="entity in $ctrl.unassignedList | filter: { person: { name:$ctrl.search } } track by entity.id">
    <departments-detail-teams-detail-positions-detail-entities-item entity="entity"></departments-detail-teams-detail-positions-detail-entities-item>
  </a>
</div>
<div class="text-center m-3 my-5" ng-if="!$ctrl.loading && $ctrl.myList.length == 0 && $ctrl.assignedList.length == 0 && $ctrl.unassignedList.length == 0">
  <i class="fas fa-user blankslate-icon"></i>
  <h5>No People in this Position</h5>
  <p>
    Get started by adding a person
  </p>
  <a ng-click="$ctrl.departmentsDetailTeamsDetailPositionsDetailEntities.openNewModal($ctrl.$stateParams.positionId)" class="btn btn-primary">
    Add a Person
  </a>
</div>
