<div class="row">
  <div class="col-md-6">
    <div class="text-right pb-2">
      <a ng-click="$ctrl.objectives.openNewObjectiveModal($ctrl.resourceId, $ctrl.resourceType)" class="btn btn-primary">Add Objective</a>
    </div>
    <div ng-repeat="objective in $ctrl.list">
      {{objective.name}}
    </div>
    <div class="blankslate blankslate-spacious" ng-if="$ctrl.list.length == 0">
        <i class="fas fa-bullseye blankslate-icon"></i>
        <h3>No objectives defined yet.</h3>
        <p>It's time to define your first objective!</p>
        <a ng-click="$ctrl.objectives.openNewObjectiveModal($ctrl.resourceId, $ctrl.resourceType)" class="btn btn-primary">Add Objective</a>
      </div>
    </div>
  </div>
  <div class="col-md-6">
  </div>
</div>
