<div class="container pt-5">
  <div ui-view>
    <div class="row">
      <div class="col-sm">
        <div class="organization-logo">
          <i class="far fa-id-card"></i>
        </div>
        <a ui-sref="organizations.connect" class="btn btn-primary btn-block">Connect Organization</a>
      </div>
      <div class="col-sm">
        <div class="organization-logo">
          <i class="fas fa-user-plus"></i>
        </div>
        <a ui-sref="organizations.create" class="btn btn-secondary btn-block">Sign Up Your Organization</a>
      </div>
    </div>
  </div>
</div>
