<div class="list">
  <div class="departments-detail-teams-detail-positions-detail-items"
       data-as-sortable="$ctrl.sortableOptions"
       data-ng-model="$ctrl.items">
    <div class="as-sortable-item d-flex align-items-center"
         ng-repeat="item in $ctrl.items track by item.id"
         data-as-sortable-item>
      <div class="col text-muted as-sortable-item-handle"
           ng-if="!$ctrl.readOnly"
           data-as-sortable-item-handle>
        <i class="fas fa-bars"></i>
      </div>
      <div class="col flex-fill p-0">
        <departments-detail-teams-detail-positions-detail-items-detail item="item" read-only="$ctrl.readOnly">
        </departments-detail-teams-detail-positions-detail-items-detail>
      </div>
    </div>
  </div>
  <departments-detail-teams-detail-positions-detail-items-new ng-if="!$ctrl.readOnly">
  </departments-detail-teams-detail-positions-detail-items-new>
  <div class="empty" ng-if="$ctrl.readOnly && $ctrl.items.length === 0">
    No items on this checklist
  </div>
</div>
