<form name="forgotPassword" ng-submit="$ctrl.submit()">
  <h3>
    Password Recovery
  </h3>
  <div class="form-group">
    <input class="form-control" autofocus="autofocus" type="email" placeholder="Email" ng-model="$ctrl.email" required>
  </div>
  <input type="submit" value="Submit" class="btn btn-block btn-primary btn-xl" ng-disabled="forgotPassword.$invalid || $ctrl.loading">
</form>
<div class="row py-3">
  <div class="col">
    No Account? <a ui-sref="signUp">Sign Up</a>
  </div>
  <div class="col text-right">
    <a ui-sref="signIn">Sign In</a>
  </div>
</div>
