body.devise, body.users {
  .card {
    .card-block {
      .card-title {
        color: #757575;
        font-size: 48px;
        line-height: 62px;
        font-weight: 300;
        max-width: 80%;
        margin-bottom: 40px;
      }
      .card-text {
        margin-top: 28px;
        .alert {
          margin-top: -30px;
        }
        .terms {
          font-size: 80%;
          margin-top: 20px;
        }
      }
    }
    .card-footer {
      font-size: 95%;
      a:link {
        text-transform: uppercase;
      }
    }
  }
}