.visitors-index {
  background: image-url('backslant-home-repeat.svg') repeat-y 50% 0;
  background-size: 100vw;
  .card {
    margin: -80px 0;
    .card-block {
      padding: 80px 114px 40px 114px;
      .card-title {
        color: #757575;
        font-size: 48px;
        line-height: 62px;
        font-weight: 300;
        max-width: 80%;
        margin-bottom: 40px;
      }
      .card-text {
        margin-top: 28px;
        h4 {
          font-size: 18px;
          line-height: 26px;
          font-weight: 500;
          margin: 32px 0 16px;
        }
        p {
          font-size: 14px;
          line-height: 24px;
          color: #757575;
        }
      }
    }
    .card-footer {
      border: 0;
      padding: 40px 114px;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      color: #757575;
    }
  }
  .row__inner {
    margin: 0 auto;
    width: 100%;
    max-width: 1352px;
    padding: 80px 114px;
    position: relative;
    z-index: 1;
  }
  @media only screen and (max-width: 1000px) {
    .row__inner {
      padding: 60px 64px 80px;
    }
  }
  @media only screen and (max-width: 720px) {
    .row__inner {
      padding: 40px 18px;
    }
  }
  .is-graphic-row {
    height: 212px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 100vw;
      background: image-url('backslant-home-top.svg') no-repeat 50% 0;
      background-size: 100%;
    }
  }
  .is-footer-row {
    color: #fff;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vw;
      background: image-url('backslant-footer.svg') no-repeat 50% 100%;
      background-size: 100%;
    }
    .row__tagline {
      font-size: 48px;
      line-height: 68px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  footer.page-footer {
    margin-top: 0;
    padding-top: 0;
    color: #cfd8dc;
    font: 500 14px/16px Roboto,sans-serif;
    h5.title {
      color: #fff;
      margin: 0 0 16px;
      text-transform: none;
    }
  }
}