<% content_for :reason do %>
  We're contacting you to notify you that your password has been changed.
<% end %>
<p>
Someone has recently changed the password on your My Team @ Church account (<%= @user.email %>).
</p>
<p>
If you did not make this change, or if you believe an unauthorised person has accessed your account,
you should change your password as soon as possible on <%= link_to 'My Team @ Church', WebRouterService.root_url %>.
</p>
