<div class="sidebar" ng-class="{ 'visible-on-mobile': $ctrl.visibleOnMobile }">
  <a ui-sref="me.entities" ng-class="{'active': $ctrl.$state.includes('me')}" ng-click="$ctrl.visibleOnMobile = false">
    <div class="icon"><i class="fas fa-home"></i></div>
    <div class="label">My Profile</div>
  </a>
  <a ui-sref="departments" ui-sref-active="active" ng-click="$ctrl.visibleOnMobile = false" ng-if="$ctrl.organizations.primary.admin || $ctrl.organizations.primary.leader">
    <div class="icon"><i class="fas fa-sitemap"></i></div>
    <div class="label">Departments</div>
  </a>
  <a ui-sref="people" ui-sref-active="active" ng-click="$ctrl.visibleOnMobile = false" ng-if="$ctrl.organizations.primary.admin">
    <div class="icon"><i class="fas fa-users"></i></div>
    <div class="label">People</div>
  </a>
  <a ng-click="$ctrl.signOut()">
    <div class="icon"><i class="fas fa-sign-out-alt"></i></div>
    <div class="label">Sign Out</div>
  </a>
</div>
<div class="sidebar-background" ng-class="{ 'visible-on-mobile': $ctrl.visibleOnMobile }" ng-click="$ctrl.visibleOnMobile = false"></div>
<a class="sidebar-toggler" ng-click="$ctrl.visibleOnMobile = true">
  <i class="fas fa-bars"></i>
</a>
