<li class="nav-item">
  <a href="https://help.myteam.church" class="nav-link">Help</a>
</li>
<li class="nav-item">
  <a href="<%= root_url(subdomain: 'app') %>" class="nav-link">Get Started</a>
</li>
