<modal title="Edit Key Result" save="$ctrl.save()" delete="$ctrl.delete()" cancel="$hide()" show-delete="true">
  <div class="form-group">
    <label>Name<span class="text-danger">*</span></label>
    <input class="form-control"
    type="text"
    ng-model="$ctrl.keyResult.name"
    placeholder="Name"
    autofocus
    required>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Start Value<span class="text-danger">*</span></label>
        <input ng-model="$ctrl.keyResult.start_value" type="number" class="form-control" required>
      </div>
      <div class="col">
        <label>Target Value<span class="text-danger">*</span></label>
        <input ng-model="$ctrl.keyResult.target_value" type="number" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
    <div class="col">
      <label>Result Type</label>
      <select ng-model="$ctrl.keyResult.result_type" class="form-control">
        <option disabled>Select preset</option>
        <optgroup label="Percent">
          <option>%</option>
        </optgroup>
        <optgroup label="Currency">
          <option>$</option>
          <option>€</option>
          <option>£</option>
          <option>¥</option>
          <option>USD</option>
          <option>EUR</option>
          <option>dollars</option>
          <option>euros</option>
          <option>Pounds</option>
        </optgroup>
        <optgroup label="Units">
          <option>items</option>
          <option>articles</option>
          <option>posts</option>
          <option>signups</option>
          <option>people</option>
          <option>persons</option>
          <option>NPS</option>
          <option>meetings</option>
          <option>answers</option>
          <option>clients</option>
          <option>visitors</option>
          <option>trials</option>
        </optgroup>
      </select>
    </div>
      <div class="col">
        <label>Custom Result Type<span class="text-danger">*</span></label>
        <input ng-model="$ctrl.keyResult.result_type" type="text" class="form-control" required>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label>Weight <span class="text-danger">*</span></label>
    <input ng-model="$ctrl.keyResult.weight" type="number" class="form-control" required>
    <small class="text-muted">Weight is used to increase or decrease importance of single Key Result when calculating Objective completion %.</small>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <label>Start Date</label>
        <input ng-model="$ctrl.keyResult.start_at" type="date" class="form-control">
      </div>
      <div class="col">
        <label>End Date</label>
        <input ng-model="$ctrl.keyResult.end_at" type="date" class="form-control">
      </div>
    </div>
  </div>
</modal>
