@import 'list/list';
@import 'detail/detail';

departments {
  .wrapper {
    display: flex;
    height: 100vh;
    > .menu {
      width: 250px;
      border-right: 1px solid #ccc;
      .panel-title {
        border-top-left-radius: 10px;
      }
    }
    > .content {
      flex: 1 1 auto;
      overflow: auto;
    }
  }
}
