<div class="tree" ng-class="{ 'visible-on-mobile' : $ctrl.$state.is('departments') }">
  <div class="heading">
    <div class="title">
      <h1>Departments</h1>
    </div>
    <div class="actions">
      <a ng-click="$ctrl.departments.openNewModal()"
         data-title="Add Department"
         data-placement="left"
         data-trigger="hover"
         bs-tooltip>
        <i class="fas fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="list">
    <div class="input-group search">
      <input type="text" class="form-control" ng-model="$ctrl.search" placeholder="Filter Departments">
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
    <div class="list-group list-group-flush" ng-if="$ctrl.loading">
      <div class="list-group-item" ng-repeat="n in [2, 8, 6, 4]">
        <div class="ph-item">
          <div class="ph-col-12 p-0">
            <div class="ph-row mb-0">
              <div class="ph-col-{{n}} mb-0 my-2"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <departments-list level="0" list="$ctrl.departments.data"></departments-list>
    <div ng-if="!$ctrl.loading && $ctrl.departments.data.length == 0" class="text-center m-3 my-5">
      <strong>No Departments</strong>
      <p>
        Get started by creating a department.
      </p>
      <a class="btn btn-primary" ng-click="$ctrl.departments.openNewModal()">
        Create Department
      </a>
    </div>
  </div>
  <div class="branch" ui-view>
    <div class="placeholder"></div>
  </div>
</div>
