@import 'keyResults/keyResults';

objectives-detail {
  > .objective {
    display: grid;
    border-bottom: 1px solid #ccc;
    align-items: center;
    padding: 10px 15px;
    grid-gap: 5px;
    .actions {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto;
      grid-gap: 10px;
    }
  }
}
