<div class="border-bottom d-flex w-100 justify-content-between py-3">
  <h5 class="mb-1">{{$ctrl.objective.name}}</h5>
  <a ng-click="$ctrl.objectives.openEditObjectiveModal($ctrl.resourceId, $ctrl.resourceType, $ctrl.objective)">
    <i class="far fa-edit"></i>
  </a>
</div>
<div class="border-bottom py-2">
  <span ng-if="!$ctrl.objective.description" class="text-muted">No Description</span>
{{$ctrl.objective.description}}
</div>

<objectives-detail-key-results resource-id="$ctrl.resourceId"
                                resource-type="$ctrl.resourceType"
                                objective="$ctrl.objective">
</objectives-detail-key-results>
