<%= title organization.name %>
<div class="card promo promo-small">
  <div class="promo-content">
    <h1 class="promo-title">Hey <%= current_user.first_name %>.</h1>
    <h2 class="promo-subtitle">
      <strong>Oh no! <%= organization.name %> has revoked your access permissions.</strong>
    </h2>
    <div class="promo-text">If you think this is an error contact your Staff Portal admin.</div>
  </div>
</div>
