<%# navigation styled for Bootstrap 4.0 %>
<nav class="navbar navbar-toggleable-md navbar-inverse" style="background-color: #a50f0f">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Auckland Ev HR</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="navbar-nav">
        <%= render 'layouts/nav_links_for_auth' %>
      </ul>
    </div>
  </div>
</nav>
