<!DOCTYPE html>
<html>
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= content_tag :div,
      id: 'angular-data',
      data: {
        token: current_user.token
      }.to_json do %>
    <% end %>
    <app></app>
    <%= javascript_pack_tag 'admin' %>
    <%= stylesheet_pack_tag 'admin-styles' %>
  </body>
</html>
