<a ui-sref="departments.detail({ departmentId: $ctrl.item.id })"
   ui-sref-active="active"
   class="d-flex align-items-center">
  <div>
    <span ng-repeat="i in $ctrl.getNumber($ctrl.level) track by $index">
      &nbsp;
    </span>
    <span ng-if="$ctrl.level > 0">
      <i class="fas fa-angle-right"></i>
      &nbsp;
    </span>
  </div>
  <div class="flex-fill">
      {{$ctrl.item.name}}
    </div>
    <div>
      <span class="badge badge-warning"
            ng-if="$ctrl.item.positions_needing_people > 0"
            data-title="positions in need"
            data-placement="left"
            data-trigger="hover"
            bs-tooltip>{{$ctrl.item.positions_needing_people}}</span>
    </div>
</a>
<departments-list
  list="$ctrl.item.children"
  level="$ctrl.level + 1"
></departments-list>
